/* start at moble size, and work up from there */

.box1 {
	width: 100%;
	height: 300px;
	display: block;
	background-color: pink;
}

.box2 {
	width: 100%;
	height: 300px;
	display: block;
	background-color: red;
}

/* this is a basic media query */



/* change the layout when we're viewing the app on a phone */

@media only screen and (min-device-width: 641px) and (max-device-width: 1140px) 
	{

	.box1 {	
		background-color: blue; 
		width: 23%; 
		height: 100px; 
		display: inline-block; 
	}

	.box2 {	
		background-color: purple; 
		width: 23%; 
		height: 100px; 
		display: inline-block; 
	}

	.box3 {	
		background-color: grey; 
		width: 23%; 
		height: 100px; 
		display: inline-block; 
	}

	.box4 {	background-color: brown; 
		width: 23%; 
		height: 100px; 
		display: inline-block; 
	}
}